FIREBASE_CREDENTIALS_PATH=src/shared/services/firebase/agendamento.json
FIREBASE_STORAGE_BUCKET=gs://marcacao-quadras.firebasestorage.app

JWT_SECRET=umaChaveSecretaMuitoForte123456789
APP_BASE_URL=http://localhost:9573
PORT=9573
NOME_ESTABELECIMENTO=Marcacao de Quadras